.activeConfig {
  background-color: rgba(70, 130, 180, 0.3);
}

.config-checkbox label {
  padding: 10px;
}

.config-component {
  padding: 20px;
}

.notesy-progress-bar {
  margin: 0 0 15px 0;
  padding: 0;
  width: 100%;
  height: 45px;
}

.play-scale,
a.play-scale-link {
  color: #f2df80;
}

.bend-to-note,
a.bend-to-note-link {
  color: #dff280;
}

.single-note,
a.single-note-link {
  color: #0085cd;
}

.multi-note,
a.multi-note-link {
  color: #fd6a02;
}

.learn-the-notes,
a.learn-the-notes-link {
  color: #ff6347;
}

$ember-power-select-border-color: #64A5ED;
$ember-power-select-border-radius: 5;

@import 'ember-power-select';
@import "ember-bootstrap/bootstrap";
